<EditForm Model="@entrada" OnInvalidSubmit="@OnValidSubmit">
    <div class="form-group">
        <label>Nome :</label>
        <div>
            <InputText @bind-Value="@entrada.Nome" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => entrada.Nome)" />
        </div>
    </div>
    <div class="form-group">
        <label>Valor :</label>
        <div>
            <InputNumber @bind-Value="@entrada.Valor" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => entrada.Valor)" />
        </div>
    </div>
    <div class="form-group">
        <label>Inicio :</label>
        <div>
            <InputDate @bind-Value="@entrada.DataInicio" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => entrada.DataInicio)" />
        </div>
    </div>
    <div class="form-group">
        <label>Fim :</label>
        <div>
            <InputDate @bind-Value="@entrada.DataFim" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => entrada.DataFim)" />
        </div>
    </div>
</EditForm>

@code{
    [Parameter]
    public Entrada entrada { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Salvar";
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}